*{
    padding: 0; 
    margin: 0;
    text-align: center;
    font-size: 24 px;
    font-family: "Calibre";
    color: #08080ad3;
    font-family: "Calibre";
}    

html, body {
background-color: rgb(71, 24, 24);

}

.main-container{
    border-radius: 20px ;
    border: 4px solid rgb(255,121,0);
    margin: 2rem;
    background-color: rgb(83, 83, 85);
    
}

nav, section, footer, article, aside{
    border: 2px solid rgb(31, 219, 147);
    border-radius: 10px;
    margin: 2rem;
    background-color: rgb(201, 53, 53);
    padding: 1rem;
} 

article, aside{
    width: 50%;
    display: inline-block;
    height: 200px;
    background-color: rgb(238, 102, 48);
}